<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Gerenciamento de Itens</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Estoque Fácil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/movimento">Movimentação</a>
                </li>
                
            </ul>
        </div>
    </nav>
    
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 mb-3">
                <input type="text" id="campoBuscaMAC" class="form-control" placeholder="Buscar por MAC...">
            </div>
        </div>
        <h2 id="nomeDoProduto"></h2>
        <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#modalAdd">Adicionar Item</button>

        <table class="table">
            <thead>
                <tr>
                    <th>ID Patrimônio</th>
                    <th>MAC</th>
                    <th>Fonte</th>
                    <th>Volts</th>
                    <th>Ampere</th>
                    <th>Observação</th>
                    <th>Produto</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody id="itemTableBody"></tbody>
        </table>
    </div>

    <!-- Modal Adicionar Item -->
    <div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="modalAddLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- Formulário para adicionar itens -->
                <div class="modal-header">
                    <h5 class="modal-title" id="modalAddLabel">Adicionar Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="formAdicionarItem">
                        <div class="form-group">
                            <input type="hidden" id="idPatrimonio">
                        </div>
                        <div class="form-group">
                            <label for="macItem">MAC:</label>
                            <input type="text" class="form-control" id="macItem" placeholder="MAC do item">
                        </div>
                        <div class="form-group">
                            <label for="fonteItem">Fonte:</label>
                            <input type="text" class="form-control" id="fonteItem" placeholder="Fonte do item">
                        </div>
                        <div class="form-group">
                            <label for="voltsItem">Volts:</label>
                            <input type="number" step="1" class="form-control" id="voltsItem" placeholder="Volts do item">
                        </div>
                        <div class="form-group">
                            <label for="ampereItem">Ampere:</label>
                            <input type="number" step="any" class="form-control" id="ampereItem" placeholder="Ampere do item">
                        </div>
                        <div class="form-group">
                            <label for="obsItem">Observação:</label>
                            <input type="text" class="form-control" id="obsItem" placeholder="Observação do item">
                        </div>
                        <div class="form-group">
                            <label for="produtoIdItem">Produto:</label>
                            <select class="form-control" id="produtoIdItem">
                                <!-- Options serão preenchidas dinamicamente com os nomes dos produtos -->
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" onclick="adicionarItem()">Adicionar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Editar Item -->
<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="modalEditLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditLabel">Editar Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formEditarItem">
                    <div class="form-group">
                        <input type="hidden" id="editItemId">
                    </div>
                    <div class="form-group">
                        <label for="editMacItem">MAC:</label>
                        <input type="text" class="form-control" id="editMacItem" placeholder="MAC do item">
                    </div>
                    <div class="form-group">
                        <label for="editFonteItem">Fonte:</label>
                        <input type="text" class="form-control" id="editFonteItem" placeholder="Fonte do item">
                    </div>
                    <div class="form-group">
                        <label for="editVoltsItem">Volts:</label>
                        <input type="number" step="1" class="form-control" id="editVoltsItem" placeholder="Volts do item">
                    </div>
                    <div class="form-group">
                        <label for="editAmpereItem">Ampere:</label>
                        <input type="number" step="any" class="form-control" id="editAmpereItem" placeholder="Ampere do item">
                    </div>
                    <div class="form-group">
                        <label for="editObsItem">Observação:</label>
                        <input type="text" class="form-control" id="editObsItem" placeholder="Observação do item">
                    </div>
                    <div class="form-group">
                        <label for="editProdutoIdItem">Produto:</label>
                        <select class="form-control" id="editProdutoIdItem">
                            <!-- Options serão preenchidas dinamicamente com os nomes dos produtos -->
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" onclick="salvarEdicaoItem()">Salvar</button>
            </div>
        </div>
    </div>
</div>

    <!-- Scripts JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/itens.js') }}"></script>
</body>
</html>