<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Gerenciamento de Produtos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- Navegador de Páginas-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Estoque Fácil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/itens">Itens</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/movimento">Movimentação</a>
                </li>
                <!-- Adicione mais itens conforme necessário -->
            </ul>
        </div>
    </nav>
    
<div class="container mt-5">
    <h2>Lista de Produtos</h2>
    <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#modalAdd">Adicionar Produto</button>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Grupo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody id="productTableBody"></tbody>
    </table>
</div>

<!-- Modal Adicionar Produto -->
<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="modalAddLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAddLabel">Adicionar Produto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formAdicionarProduto">
                    <div class="form-group">
                        <label for="nomeNovoProduto">Nome:</label>
                        <input type="text" class="form-control" id="nomeNovoProduto" placeholder="Nome do produto">
                    </div>
                    <div class="form-group">
                        <label for="descricaoNovoProduto">Descrição:</label>
                        <input type="text" class="form-control" id="descricaoNovoProduto" placeholder="Descrição do produto">
                    </div>
                    <div class="form-group">
                        <label for="grupoNovoProduto">Grupo:</label>
                        <input type="text" class="form-control" id="grupoNovoProduto" placeholder="Grupo do produto">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" onclick="adicionarProduto()">Adicionar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Editar Produto -->
<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="modalEditLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditLabel">Editar Produto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formEditarProduto">
                    <input type="hidden" id="editProductId"> <!-- Campo oculto para armazenar o ID do produto -->
                    <div class="form-group">
                        <label for="nomeEditProduto">Nome:</label>
                        <input type="text" class="form-control" id="nomeEditProduto" placeholder="Nome do produto">
                    </div>
                    <div class="form-group">
                        <label for="descricaoEditProduto">Descrição:</label>
                        <input type="text" class="form-control" id="descricaoEditProduto" placeholder="Descrição do produto">
                    </div>
                    <div class="form-group">
                        <label for="grupoEditProduto">Grupo:</label>
                        <input type="text" class="form-control" id="grupoEditProduto" placeholder="Grupo do produto">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" onclick="editarProduto()">Salvar Alterações</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalDetalhesItens" tabindex="-1" role="dialog" aria-labelledby="modalDetalhesItensLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDetalhesItensLabel">Detalhes dos Itens cadastrados do Produto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="detalhesItensProduto">
                <!-- Aqui serão exibidos os detalhes dos itens -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- Scripts JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/produtos.js') }}"></script>
    
</body>
</html>
